body {
    background: radial-gradient(#4fab98, transparent),
        radial-gradient(#4fab98, transparent);
    background-repeat: space;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.navBar {
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: #4fab98;
    color: #e4ebe9;
    font-size: 40px;
    display: grid;
    opacity: .9;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 10px 10px 10px 10px #4fab98;
    box-shadow: inset;
}

/* #now {
    padding: 0%;
    font-size: 20px;
    font-synthesis-weight: 700;
    text-align: center;
    color:#e4ebe9;
    margin: 0em;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: #4fab98;
    border-bottom-width: 10px;
} */

#currentDay {
    text-align: center;
    padding: 0%;
    font-size: 20px;
    font-weight: 700px;
    color: #e4ebe9;
    margin: 0em;
}

.text-center {
    text-align: center;
    width: 100%;
    background-color: #4fab98;
    color: #e4ebe9;
}

#searchForm {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: #4fab98;
    color: #000000;
    /* border-radius: 25px 25px 25px 25px #4fab98; */
}

#search {
    text-align: center;
    width: 60%;
    color: #000000;
}

.input {
    border-radius: 25px 25px 25px 25px;
}

#submit {
    border-radius: 25px 25px 25px 25px;
}

.todaysWeather{
    text-align: center;
    background-color: #4fab98;
    color:#e4ebe9;
    height: 200px;
    width: 94%;
    margin-left: 0%;
    display:block;
    border-radius: 25px 25px 25px 25px;
    box-shadow: inherit;
    box-shadow: 5px 5px 5px 5px #4fab98;
    margin-top: 40px;
    margin-bottom: 0px;
}

#day0{
    margin-left: 37.5%;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.fiveDayGrid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.fiveDay{
    background-color: #4fab98;
}

.history{    
    background-color: #4fab98;
    color: #e4ebe9;
    font-size: 20px;
    display: grid;
    text-align: center;
    width: 100%;
    height: 300px;
    opacity: .9;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 5px 5px #4fab98;
    margin-top: 17px;
    margin-bottom: 0px;
}

#searchH0 {
    text-align: center;
    width: 100%;
    height: 35px;
    color: #e4ebe9;
    border-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#searchH1 {
    text-align: center;
    width: 100%;
    height: 165px;
    color: #e4ebe9;
    border-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* #recent-cities{
    border-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
} */

#clear-history {
    margin-top: 10px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 25px 25px 25px 25px;
    padding: 0px, 0px, 10px;
    margin: 10px, 0px, 0px;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}